<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Liste des types de depense</h5>
            <p-table [value]="typedepenses" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                    <p-accordion>
                        <p-accordionTab header="Recherche" [selected]="false" class="line-height-3 m-0">
                            <LabelInput label="Nom" type="text" name="nom" [(ngModel)]="typedepenseSearch.nom"
                                (input)="rechercher()" />
                            <div class="flex flex-column gap-2 container">
                                <div class="labelContainer"><label for="textarea" class="label">Description</label>
                                </div>
                                <div class="inputContainer"><span class="p-input-icon-left p-input-icon-right"><textarea
                                            id=textarea rows="5" cols="30" pInputTextarea name="description"
                                            [(ngModel)]="typedepenseSearch.description"
                                            (input)="rechercher()"></textarea></span></div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">Nom</th>
                        <th style="min-width: 12rem">Description</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-typedepense>
                    <tr>
                        <td>{{typedepense.nom}}</td>
                        <td>{{typedepense.description}}</td>
                        <td>
                            <div class="flex"><button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" label="Modifier" (click)="UpdateTypeDepense(typedepense)" ></button><button
                                    pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    label="Supprimer" (click)="DeleteTypeDepense(typedepense)" ></button></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <generic-popup title="Suppression de TypeDepense" subtitle="Etes-vous sûr de vouloir supprimer cette typedepense"
            [show]="showDeletePopup" (handleclose)="CancelDeleteTypeDepense()" (validClick)="ValidDeleteTypeDepense()"
            (cancelClick)="CancelDeleteTypeDepense()">
        </generic-popup>
        <p-dialog [(visible)]="showUpdatePopup" (onHide)="CancelUpdateTypeDepense() "
            header="Modification de TypeDepense" [modal]="true" [style]="{width: '450px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <LabelInput label="Nom" type="text" name="nom"
                    [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='nom'} "
                    (input)="onInput()" [(ngModel)]="typedepenseUpdate.nom" />
                <p *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='nom'" style="color: red;">
                    {{errorsUpdate[0]?.message}}</p>
                <div class="flex flex-column gap-2 container">
                    <div class="labelContainer"><label for="textarea" class="label">Description</label></div>
                    <div class="inputContainer"><span class="p-input-icon-left p-input-icon-right"><textarea id=textarea
                                rows="5" cols="30" pInputTextarea name="description"
                                [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='description'} "
                                (input)="onInput()" [(ngModel)]="typedepenseUpdate.description"></textarea></span></div>
                </div>
                <p *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='description'" style="color: red;">
                    {{errorsUpdate[0]?.message}}</p>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
                    (click)="CancelUpdateTypeDepense()"></button>
                <button pButton pRipple label="Modifier" icon="pi pi-check" class="p-button-text"
                    (click)="ValidUpdateTypeDepense()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>