<p-toast></p-toast>
<div class="grid">
    <div class="col-8 md:col-6">
        <div class="card p-fluid">
            <form (ngSubmit)="submit()">
                <h5>Création de Depense</h5>
                <div class="flex flex-column gap-2 container">
                    <div class="labelContainer"><label class="label">Type du depense</label></div>
                    <div class="inputContainer">
                        <div class="grid formgrid">
                            <div class="inputContainer">
                                <p-dropdown [(ngModel)]="depense.idtypedepense" placeholder="Choisir type"
                                    (ngModelChange)="onInput()"
                                    [ngClass]="{'ng-dirty ng-invalid' : errors && errors[0]?.field ==='idtypedepense'} "
                                    name="idtypedepense" [options]="typedepense" [showClear]="true" optionLabel="nom"
                                    optionValue="_id"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <p *ngIf="errors && errors[0]?.field === 'idtypedepense'" class="text-danger">{{errors[0]?.message}}</p>
                <LabelInput label="Montant" type="number" name="montant" [(ngModel)]="depense.montant"
                    (input)="onInput()"
                    [ngClass]="{'ng-dirty ng-invalid' : errors && errors[0]?.field ==='montant'} " />
                <p *ngIf="errors && errors[0]?.field === 'montant'" class="text-danger">{{errors[0]?.message}}</p>
                <div class="flex flex-column gap-2 container">
                    <div class="labelContainer"><label for="textarea" class="label">Description</label></div>
                    <div class="inputContainer"><span class="p-input-icon-left p-input-icon-right"><textarea id=textarea
                                rows="5" cols="30" pInputTextarea name="description" [(ngModel)]="depense.description"
                                (input)="onInput()"
                                [ngClass]="{'ng-dirty ng-invalid' : errors && errors[0]?.field ==='description'} "></textarea></span>
                    </div>
                </div>
                <p *ngIf="errors && errors[0]?.field === 'description'" class="text-danger">{{errors[0]?.message}}</p>
                <LabelInput label="Date du depense" type="date" name="datedepense" [(ngModel)]="depense.datedepense"
                    (input)="onInput()"
                    [ngClass]="{'ng-dirty ng-invalid' : errors && errors[0]?.field ==='datedepense'} " />
                <p *ngIf="errors && errors[0]?.field === 'datedepense'" class="text-danger">{{errors[0]?.message}}</p>
                <button pButton label="Ajouter" [loading]="isLoading"></button>
            </form>
        </div>
    </div>
</div>