<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Liste de Service</h5>
      <p-table [value]="services" [paginator]="true" [rows]="10"
        ><ng-template pTemplate="caption"
          ><p-accordion
            ><p-accordionTab
              header="Recherche"
              [selected]="false"
              class="line-height-3 m-0"
              ><LabelInput
                name="nom"
                [(ngModel)]="serviceSearch.nom"
                (input)="rechercher()" />
              <div class="flex flex-column gap-2 container">
                <div class="inputContainer">
                  <span class="p-input-icon-left p-input-icon-right">
                    <textarea
                      id="textarea"
                      rows="5"
                      cols="30"
                      pInputTextarea
                      name="description"
                      [(ngModel)]="serviceSearch.description"
                      (input)="rechercher()"
                    ></textarea>
                  </span>
                </div>
              </div>
              <LabelInput
                type="number"
                name="duree"
                [(ngModel)]="serviceSearch.duree"
                (input)="rechercher()" /><LabelInput
                type="number"
                name="prix"
                [(ngModel)]="serviceSearch.prix"
                (input)="rechercher()" /><LabelInput
                type="number"
                name="commission"
                [(ngModel)]="serviceSearch.commission"
                (input)="rechercher()" /></p-accordionTab></p-accordion></ng-template
        ><ng-template pTemplate="header"
          ><tr>
            <th style="min-width: 12rem">Nom du service</th>
            <th style="min-width: 12rem">Description du service</th>
            <th style="min-width: 12rem">Durée du service(en heure)</th>
            <th style="min-width: 12rem">Prix du service(en MGA)</th>
            <th style="min-width: 12rem">Commission du service(en %)</th>
            <th>Actions</th>
          </tr></ng-template
        ><ng-template pTemplate="body" let-service
          ><tr>
            <td>{{service.nom}}</td>
            <td>{{service.description}}</td>
            <td>{{service.duree}}</td>
            <td>{{service.prix}}</td>
            <td>{{service.commission}}</td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  label="Modifier"
                ></button
                ><button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  label="Supprimer"
                ></button>
              </div>
            </td></tr></ng-template
      ></p-table>
    </div>
    <generic-popup
      title="Suppression de Service"
      subtitle="Etes-vous sûr de vouloir cette "
      service
      [show]="showDeletePopup"
      (handleclose)="CancelDeleteService()"
      (validClick)="ValidDeleteService()"
      (cancelClick)="CancelDeleteService()"
    >
    </generic-popup>
    <p-dialog
      [(visible)]="showUpdatePopup"
      (onHide)="CancelUpdateService() "
      header="Modification de Service"
      [modal]="true"
      [style]="{width: '450px'}"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <LabelInput
          name="nom"
          [(ngModel)]="serviceSearch.nom"
          (input)="rechercher()"
          [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='nom'} "
          (input)="onInput()"
          [(ngModel)]="serviceUpdate.nom"
        />
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='nom'"
          class="text-danger"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <div class="flex flex-column gap-2 container">
          <div class="inputContainer">
            <span class="p-input-icon-left p-input-icon-right">
              <textarea
                id="textarea"
                rows="5"
                cols="30"
                pInputTextarea
                name="description"
                [(ngModel)]="serviceSearch.description"
                (input)="rechercher()"
                [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='description'} "
                (input)="onInput()"
                [(ngModel)]="serviceUpdate.description"
              ></textarea>
            </span>
          </div>
        </div>
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='description'"
          class="text-danger"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <LabelInput
          type="number"
          name="duree"
          [(ngModel)]="serviceSearch.duree"
          (input)="rechercher()"
          [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='duree'} "
          (input)="onInput()"
          [(ngModel)]="serviceUpdate.duree"
        />
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='duree'"
          class="text-danger"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <LabelInput
          type="number"
          name="prix"
          [(ngModel)]="serviceSearch.prix"
          (input)="rechercher()"
          [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='prix'} "
          (input)="onInput()"
          [(ngModel)]="serviceUpdate.prix"
        />
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='prix'"
          class="text-danger"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <LabelInput
          type="number"
          name="commission"
          [(ngModel)]="serviceSearch.commission"
          (input)="rechercher()"
          [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='commission'} "
          (input)="onInput()"
          [(ngModel)]="serviceUpdate.commission"
        />
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='commission'"
          class="text-danger"
        >
          {{errorsUpdate[0]?.message}}
        </p> </ng-template
      ><ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Annuler"
          icon="pi pi-times"
          class="p-button-text"
          (click)="CancelUpdateService()"
        ></button>
        <button
          pButton
          pRipple
          label="Modifier"
          icon="pi pi-check"
          class="p-button-text"
          (click)="ValidUpdateService()"
        ></button> </ng-template
    ></p-dialog>
  </div>
</div>
