<p-toast></p-toast>
<div class="grid">
	<div class="col-8 md:col-6">
		<div class="card p-fluid">
			<form (ngSubmit)="submit()">
				<h5>Utilisateur</h5>
				<div class="field mb-5">
					<label htmlFor="name1">Nom</label>
					<input pInputText name="nom" [(ngModel)]="utilisateur.nom" placeholder="nom" type="text" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'nom' }" (input)="onInput()" (input)="onInput()" />
					<p *ngIf="errors && errors[0]?.field === 'nom'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>
				<div class="field mb-5">
					<label htmlFor="name1">Prenom</label>
					<input pInputText name="prenom" [(ngModel)]="utilisateur.prenom" placeholder="prenom" type="text" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'prenom' }" (input)="onInput()" />
					<p *ngIf="errors && errors[0]?.field === 'prenom'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>
				<div class="field mb-5">
					<label htmlFor="email1">Email</label>
					<input pInputText name="email" [(ngModel)]="utilisateur.email" placeholder="adresse email" type="email" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'email' }" (input)="onInput()" />
					<p *ngIf="errors && errors[0]?.field === 'email'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>
				<div class="field mb-5">
					<label htmlFor="email1">Date de naissance</label>
					<input pInputText name="datenaissance" [(ngModel)]="utilisateur.datenaissance"  type="date" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'datenaissance' }" (input)="onInput()" />
					<p *ngIf="errors && errors[0]?.field === 'datenaissance'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>	
				<div class="field mb-5">
					<label htmlFor="email1">Numero de telephone</label>
					<input pInputText name="numerotelephone" [(ngModel)]="utilisateur.numerotelephone" placeholder="numero de telephone" type="email" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'numerotelephone' }" (input)="onInput()" />
					<p *ngIf="errors && errors[0]?.field === 'numerotelephone'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>	
				<div class="field mb-5">
					<label htmlFor="email1">Mot de passe</label>
					<p-password name="motdepasse" [feedback]="false" [(ngModel)]="utilisateur.motdepasse" name="motdepasse" [toggleMask]="true" placeholder="mot de passe" [ngClass]="{ 'ng-dirty ng-invalid': errors && errors[0]?.field === 'motdepasse' }" (input)="onInput()" ></p-password>
					<p *ngIf="errors && errors[0]?.field === 'motdepasse'" style="color: red;">{{errors[0]?.message}}</p> 
				</div>
				<button pButton label="Submit" [loading]="isLoading" ></button>
			</form>
		</div>
	</div>
</div>