<div class="flex flex-column gap-2 container">
  <div class="labelContainer">
    <label class="label" for="input">{{ label }}</label>
  </div>
  <div class="inputContainer">
    <span class="p-input-icon-left p-input-icon-right">
      <i class="{{ iconLeft }}"></i>
      <input
        id="input"
        class="input"
        pInputText
        [name]="name"
        [type]="type"
        [value]="value"
        [(ngModel)]="model"
        (onInput)="onChange()"
        (blur)="onTouch()"
      />
      <i class="{{ iconRight }}"></i>
    </span>
  </div>
</div>
