<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Liste des rendez-vous</h5>
      <div class="grid">
        <div class="col-4 md:col-4 xs:col-12">
          <div class="card">
            <h5>Non commencé</h5>
            <p-dataView *ngIf="nonCommences && nonCommences.length > 0" [value]="nonCommences">
              <ng-template let-nonCommences pTemplate="listItem">
                <div *ngFor="let nonCommence of nonCommences" class="card col-12" pDraggable (onDragStart)="dragStartNonCommence(nonCommence)" (onDragEnd)="dragEnd()">
                  <div class=""><strong>date heure rendezvous :</strong>{{nonCommence.dateheurerendezvous}}</div>
                  <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                      <img [src]="nonCommence.service[0].image" [alt]="" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5 mb-2" />
                      <div class="mb-2 mt-3 text-1xl">{{nonCommence.service[0].nom}}</div>
                      <div class="mb-2  font-bold">{{getMontantCommission(nonCommence.service[0])+" Ar"}}</div>
                      <div class="flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <span class="font-semibold">{{nonCommence.client[0].nom+"
                          "+nonCommence.client[0].prenom}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
        <div class="col-4 md:col-4">
          <div class="card" pDroppable (onDrop)="drop(enCours)">
            <h5>En cours</h5>
            <p-dataView *ngIf="enCours && enCours.length > 0" [value]="enCours">
              <ng-template let-enCours pTemplate="listItem">
                <div *ngFor="let enCour of enCours" class="card col-12" pDraggable (onDragStart)="dragStartEnCour(enCour)" (onDragEnd)="dragEnd()">
                  <div class=""><strong>date heure commencement : </strong>{{enCour.dateheuredebutsuivi}}</div>
                  <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                      <img [src]="enCour.service[0].image" [alt]="" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                      <div class="mb-2 mt-3 text-1xl">{{enCour.service[0].nom}}</div>
                      <div class="mb-2  font-bold">{{enCour.service[0].prix+" Ar"}}</div>
                      <div class="flex align-items-center mt-2">
                        <i class="pi pi-user mr-2"></i>
                        <span class="font-semibold">{{enCour.client[0].nom+"
                          "+enCour.client[0].prenom}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
        <div class="col-4 md:col-4">
          <div class="card"  pDroppable (onDrop)="drop(termines)">
            <h5>Terminé</h5>
            <p-dataView *ngIf="termines && termines.length > 0" [value]="termines" >
              <ng-template let-termines pTemplate="listItem">
                <div *ngFor="let termine of termines" class="card col-12">
                  <div class=""><strong>date heure debut : </strong>{{termine.dateheuredebutsuivi}}</div>
                  <div class=""><strong>date heure fin : </strong>{{termine.dateheurefinsuivi}}</div>
                  <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                      <img [src]="termine.service[0].image" [alt]="" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5 mb-2" />
                      <div class="mb-2 mt-3 text-1xl">{{termine.service[0].nom}}</div>
                      <div class="mb-2  font-bold">{{termine.service[0].prix+" Ar"}}</div>
                      <div class="flex align-items-center mt-2">
                        <i class="pi pi-user mr-2"></i>
                        <span class="font-semibold">{{termine.client[0].nom+"
                          "+termine.client[0].prenom}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>