<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Liste de Rendezvous</h5>
      <p-table [value]="rendezvouss" [paginator]="true" [rows]="10"
        ><ng-template pTemplate="caption"
          ><p-accordion
            ><p-accordionTab
              header="Recherche"
              [selected]="false"
              class="line-height-3 m-0"
              ><div class="flex flex-column gap-2 container">
                <div class="labelContainer">
                  <label class="label">Client</label>
                </div>
                <div class="inputContainer">
                  <div class="grid formgrid">
                    <div class="inputContainer">
                      <p-dropdown
                        [(ngModel)]="rendezvousSearch.idclient"
                        (ngModelChange)="rechercher()"
                        name="idclient"
                        [options]="clients"
                        [showClear]="true"
                        optionLabel="nom"
                        optionValue="_id"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-column gap-2 container">
                <div class="labelContainer">
                  <label class="label">Service</label>
                </div>
                <div class="inputContainer">
                  <div class="grid formgrid">
                    <div class="inputContainer">
                      <p-dropdown
                        [(ngModel)]="rendezvousSearch.idservice"
                        (ngModelChange)="rechercher()"
                        name="idservice"
                        [options]="services"
                        [showClear]="true"
                        optionLabel="nom"
                        optionValue="_id"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <LabelInput
                label="Date et heure du rendez-vous"
                type="datetime-local"
                name="dateheurerendezvous"
                [(ngModel)]="rendezvousSearch.dateheurerendezvous"
                (input)="rechercher()" /></p-accordionTab></p-accordion></ng-template
        ><ng-template pTemplate="header"
          ><tr>
            <th style="min-width: 12rem">Client du rendez-vous</th>
            <th style="min-width: 12rem">Service du rendez-vous</th>
            <th style="min-width: 12rem">Date et heure du rendez-vous</th>
            <th>Actions</th>
          </tr></ng-template
        ><ng-template pTemplate="body" let-rendezvous
          ><tr>
            <td>{{rendezvous.idclient}}</td>
            <td>{{rendezvous.idservice}}</td>
            <td>{{rendezvous.dateheurerendezvous}}</td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  label="Modifier"
                  (click)="UpdateRendezvous(rendezvous)"
                ></button
                ><button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  label="Supprimer"
                  (click)="DeleteRendezvous(rendezvous)"
                ></button>
              </div>
            </td></tr></ng-template
      ></p-table>
    </div>
    <generic-popup
      title="Suppression de Rendezvous"
      subtitle="Etes-vous sûr de vouloir cette rendezvous"
      [show]="showDeletePopup"
      (handleclose)="CancelDeleteRendezvous()"
      (validClick)="ValidDeleteRendezvous()"
      (cancelClick)="CancelDeleteRendezvous()"
    >
    </generic-popup>
    <p-dialog
      [(visible)]="showUpdatePopup"
      (onHide)="CancelUpdateRendezvous() "
      header="Modification de Rendezvous"
      [modal]="true"
      [style]="{width: '450px'}"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="flex flex-column gap-2 container">
          <div class="labelContainer"><label class="label">Client</label></div>
          <div class="inputContainer">
            <div class="grid formgrid">
              <div class="inputContainer">
                <p-dropdown
                  [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='idclient'} "
                  (input)="onInput()"
                  [(ngModel)]="rendezvousUpdate.idclient"
                  name="idclient"
                  [options]="clients"
                  [showClear]="true"
                  optionLabel="nom"
                  optionValue="_id"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='idclient'"
          style="color: red"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <div class="flex flex-column gap-2 container">
          <div class="labelContainer"><label class="label">Service</label></div>
          <div class="inputContainer">
            <div class="grid formgrid">
              <div class="inputContainer">
                <p-dropdown
                  [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='idservice'} "
                  (input)="onInput()"
                  [(ngModel)]="rendezvousUpdate.idservice"
                  name="idservice"
                  [options]="services"
                  [showClear]="true"
                  optionLabel="nom"
                  optionValue="_id"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='idservice'"
          style="color: red"
        >
          {{errorsUpdate[0]?.message}}
        </p>
        <LabelInput
          label="Date et heure du rendez-vous"
          type="datetime-local"
          name="dateheurerendezvous"
          [ngClass]="{'ng-dirty ng-invalid' : errorsUpdate && errorsUpdate[0]?.field ==='dateheurerendezvous'} "
          (input)="onInput()"
          [(ngModel)]="rendezvousUpdate.dateheurerendezvous"
        />
        <p
          *ngIf="errorsUpdate && errorsUpdate[0]?.field ==='dateheurerendezvous'"
          style="color: red"
        >
          {{errorsUpdate[0]?.message}}
        </p> </ng-template
      ><ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Annuler"
          icon="pi pi-times"
          class="p-button-text"
          (click)="CancelUpdateRendezvous()"
        ></button>
        <button
          pButton
          pRipple
          label="Modifier"
          icon="pi pi-check"
          class="p-button-text"
          (click)="ValidUpdateRendezvous()"
        ></button> </ng-template
    ></p-dialog>
  </div>
</div>
