<p-dialog [(visible)]="show" [header]="title" (onHide)="onHandleClose()" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{subtitle}}</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler" (click)="onCancelButtonClick()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Valider" (click)="onValidButtonClick()"></button>
    </ng-template>
</p-dialog>